* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 2rem;
}

input {
  color: rgb(73, 115, 255);
  font-size: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category-name {
  text-transform: uppercase;
}

.gif-card {
  align-content: center;
  background: black;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 7px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 300px;
  overflow: hidden;
  text-align: center;
}

.gif-card p {
  color: white;
  text-align: center;
}

.gif-card img {
  max-height: 150px;
  width: 100%;
}

.submit-category {
  background-color: rgb(192, 191, 182);
  border-radius: 1vw;
  border-width: 0.2vw;
  padding: 1vw;
  text-transform: uppercase;
  width: 100%;
}

.submit-category:hover {
  cursor: pointer;
}
